
<div id="exercise_form_fields"> 
    <div>
        <label for="exercise_instance_time" style="display: block">Time</label>
        <input type="number" name="exercise_instance[time]" id="exercise_instance_time">
    </div>

    <div>
        <label for="exercise_instance_distance" style="display: block">Distance</label>
        <input type="number" name="exercise_instance[distance]" id="exercise_instance_distance">
    </div>
</div>