<div id="<%= dom_id exercise_instance %>">

  <p>
    <strong>Exercise:</strong>
    <%= exercise_instance.exercise.name %>
  </p>

  <p>
    <strong>Is pr:</strong>
    <%= exercise_instance.is_pr %>
  </p>

</div>