<div id="exercise_form_fields"> 
    <div>
        <label for="exercise_instance_weight" style="display: block">Weight</label>
        <input type="number" name="exercise_instance[weight]" id="exercise_instance_weight" oninput="this.form.requestSubmit();">
    </div>

    <div>
        <label for="exercise_instance_reps" style="display: block">Reps</label>
        <input type="number" name="exercise_instance[reps]" id="exercise_instance_reps">
    </div>

    <div>
        <label for="exercise_instance_sets" style="display: block">Sets</label>
        <input type="number" name="exercise_instance[sets]" id="exercise_instance_sets">
    </div>
</div>
