<h1>Editing exercise instance</h1>

<%= render "form", exercise_instance: @exercise_instance %>

<br>

<div>
  <%= link_to "Show this exercise instance", [@exercise_log, @exercise_instance] %> |
  <%= link_to "Back to exercise instances", exercise_log_exercise_instances_path(@exercise_log) %>
</div>
