<section class="today-date-container">
  <button class="left-arrow"><</button>
  <strong class="date">TODAY, DATE</strong>
  <button class="right-arrow">></button>
</section>

<article class="timer-container">
  <span></span>
  <button>-</button>
  <button>start/pause</button>
  <button>+</button>
  <span></span>
</article>

<section class="dynamic-card-container">
  <div class="ex-card">ex 1</div>
  <div class="ex-card">ex 2</div>
  <div class="ex-card">ex 3</div>
  <button>+ Add exercise</button>
</section>


<div>
  <%= link_to "Back to Calendar", exercise_log_exercise_instances_path(@exercise_log) %>
</div>
